.outer-profile-div {
    color: white;
    font-weight: 600;
}

.card-profile {
    min-width: 600px !important;
    min-height: 300px !important;
    box-shadow: 5px 5px black;
}

.row {
    height: fit-content !important;

}

.card-body-profile {
    border: 1px solid whitesmoke;
}

.img-div {
    padding: 15px !important;
    width: auto !important;
}

.profile-img {
    margin: 0 auto;
    width: 100% !important;
    height: 100% !important;
    max-width: 325px;
    max-height: 250px;
}

.profile-songs {
    width: 60%;
}
