.gearbag-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.table-div-bag {
    width: 50%;
}

/* .transaction-div {
    
} */

.transaction-data {
    display: flex;
    justify-content: space-evenly;
}

.delete-btn {
    background-color: red !important;
    border-color: green !important;
    border-radius: 30px !important;
    font-weight: 600 !important;
}

.confirm-btn {
    background-color: limegreen !important;
    border-radius: 30px !important;
    font-weight: 600 !important;
}
