.gear-main-div {
    color: white !important;
    display: block;
    align-items: flex-end;
    height: 100vh;
}

.table {
    color: white !important;
    height: 25%;
    top: 100px;
    background-color: black;
    justify-content: baseline;
    width: fit-content;
}

.table-div {
    display: block !important;
    bottom: 0;
    width: 100%;
}

.table-row {
    cursor: pointer;
}