.search-div {
    width: 100%;
    height: auto;
    color: white;
    font-weight: 700;
}

.song-search {
    display: flex;

}

.musician-div {
    color: white;
    font-weight: 700;
}

.genre-label {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.list-group {
    /* max-width: 1058px; */
    justify-content: block !important;
    width: 100% !important;
    margin-top: 12px;
    align-self: center;
}

.list-group-item {
    background-color: black !important;
    border: 1px solid whitesmoke !important;
    color: white !important;
    min-height: 55px;
    width: 55%;
    align-self: center;
    margin-bottom: 10px;
    display: flex !important;
    justify-content: space-between !important;
}

.hover:hover {
    margin-left: 35px;
    background-color: blue;
    color: blue;
    border-color: 2px solid gold;
}

.genre-form {
    margin-left: 25px;
}
