.outer-search-div {
    width: 100%;
    height: auto;
    color: white;
    font-weight: 700;
    margin-left: 30px;
}

.inner-search-div {
    margin-right: 50px;
}

.song-search {
    display: flex;
}

.musician-div {
    color: white;
    font-weight: 700;
}

.genre-label {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.list-group {
    /* max-width: 1058px; */
    justify-content: block !important;
    width: 100% !important;
    margin-top: 12px;
    align-self: center;
}

.list-group-item {
    background-color: black !important;
    border: 1px solid whitesmoke !important;
    color: white !important;
    min-height: 55px;
    width: 55%;
    align-self: center;
    margin-bottom: 10px;
    display: flex !important;
    justify-content: space-between !important;
}

.hover:hover {
    margin-left: 35px;
    background-color: blue;
    color: blue;
    border-color: 2px solid gold;
    cursor: pointer;
}

.genre-form {
    margin-left: 25px;
}

.profile-link {
    display: flex;
    justify-content: center;
    color: transparent;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

select {
    /* appearance: none; */
    background-color: magenta !important;
    border-radius: 10px;
    /* border: 1px solid black; */
    box-shadow: 5px 5px 5px;
    color: black;
    font-weight: 600;
    padding: 0 1em 0 0;
    margin: 0;
    width: 200px;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

select::-ms-expand {
    display: none;
}
