.home-btn-div{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn{
    background-color: magenta !important;
    color: black !important;
    border: 1px solid black !important;
}