.home-btn-div{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

/* .home-btn {
    background-color: magenta;
    text-align: center;
}

button{
    background: magenta;
} */

.btn{
    background-color: magenta !important;
    color: black !important;
    border: 1px solid black !important;
    
}