.login-form-div {
    color: white;
    font-weight: 700;
}

.outer-login-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-form > button {
    width: 100%;
    margin-top: 10px;
}
