.login-form-div {
    /* background-color: black; */
    color: white;
    font-weight: 700;
}

.login-form {
    /* border: 2px solid magenta; */

}

.outer-login-div {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.login-form > button {
    width: 100%;
    margin-top: 10px;
}